# Środowisko wirtualne
venv/
.venv/

# Dane i logi (Forensics)
instance/
*.db

# Sekrety
.env
.flaskenv

# Pliki tymczasowe Pythona
__pycache__/
*.pyc

test.py

storage/

# Archived / local docs
README_old2.md